
*{
  box-sizing: border-box;/*width+boder+padding+cotent*/
}
.lunbo{
  position:relative;
  width:500px;
  height:500px;
  margin:auto;
  overflow: hidden;
}
.left,.right{
  cursor:pointer;
  display:none;
  position:absolute;
  font-size:60px;
  color:rgb(50,50,50);
  background-color:rgba(200,200,200,0.5);
  top:45%;
}
.right{
  left:93%;

}
ul{
  list-style:none;
  position:absolute;
  bottom:5px;
  left:45%;
  margin:0;
  padding:0;
}
li{
  float:left;
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:rgb(200,200,200);
  margin-right:15px;
}
li:first-child{
  background-color:rgb(0,0,0);
}
li:last-child{
  padding:0px;
}
.content{
  position:absolute;
  width:2500px;
  height:500px;
  left:-500px;
}
.img_box {
  width:500px;
  height:500px;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:pink;
  border:1px solid black;
  float:left;
}
.img1{
  height:100%;
}
.img2{
  height:100%;

}
.img3{
  width:100%;
}
